
# compilierter Output
/dist

# von npm Abhängige Dateien
/node_modules

# Generierte Dateien
build
package-lock.json

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json