
# compilierter Output
/dist

#Sever log
log
logs
*.log
.scannerwork

# Tests
coverage
__tests__/auto/__snapshots__/auto-GET-id.controller.snapshot.test.ts.snap

# von npm Abhängige Dateien
/node_modules

# Generierte Dateien
build
.extras/doc/dependency-check/*
src/config/resources/jwt/private-key.pem
src/config/resources/tls/private-key.pem
.extras/doc/projekthandbuch/html/*
.extras/doc/folien/*.html

# Editors
.env

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
